@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
  font-family: "Poppins", sans-serif;
}


p{
  margin: 0;
}

.bg_body {
    background-color: #797979;
    color: hsl(0, 0%, 0%);
}

.botao {
  background-color: #00A9A5;
}

#img_perfil{
  height: 100px;
  width: 100px;
}

.no-margin{
  margin:0 !important;
}

.no-padding{
  padding: 0 !important;
}

#size_footer{
  background-color: #343A40;
}

#footer_p{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.bg_main{
 background-color: #041b15;
 color: white;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}



.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 350px;
    max-height: 350px;
    width: 250px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.acoes{
  z-index: 2;
}

.section-products #product-1 .part-1::before {
    background: url("imagens/colecao/Jujutsu22.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
    z-index: 1;
}

.section-products #product-2 .part-1::before {
    background: url("imagens/colecao/Jujutsu21.jpg") no-repeat center;
    background-size: cover;
    z-index: 1
}

.section-products #product-3 .part-1::before {
    background: url("imagens/colecao/Jujutsu20.jpg") no-repeat center;
    background-size: cover;
    z-index: 1
}

.section-products #product-4 .part-1::before {
    background: url("imagens/colecao/Jujutsu19.jpg") no-repeat center;
    background-size: cover;
    z-index: 1
}

.section-products #product-5 .part-1::before {
  background: url("imagens/colecao/Jujutsu18.jpg") no-repeat center;
  background-size: cover;
  z-index: 1
}

.section-products #product-6 .part-1::before {
  background: url("imagens/colecao/Jujutsu17.jpg") no-repeat center;
  background-size: cover;
  z-index: 1
}

.section-products #product-7 .part-1::before {
  background: url("imagens/colecao/Jujutsu16.jpg") no-repeat center;
  background-size: cover;
  z-index: 1
}

.section-products #product-8 .part-1::before {
  background: url("imagens/colecao/Jujutsu15.jpg") no-repeat center;
  background-size: cover;
  z-index: 1
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
    z-index: 2;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.page-link-green {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #136f63;
  background-color: #fff;
  border: 1px solid #dee2e6;
  font-weight: bold;
}

.page-item:last-child .page-link-green {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
